body {
  font-family: "Bebas Neue", cursive;

  font-family: "Open Sans", sans-serif;
}
.container-page1 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container-nav {
  background: black;
  opacity: 0.7;
  line-height: 100px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.logo {
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}
.nav {
  display: flex;
  flex: 3;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
}
.sign-up {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-content: flex-start;
}
.nav > li {
  cursor: pointer;
}
.sign-up > li {
  cursor: pointer;
}
.main-page1 {
  margin-top: -150px;
  height: 1444px;
  width: 100%;
  background: url(/views/landingpage/img/bg\ image\ 1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.main-text {
  font-size: 60px;
}
.p-text {
  font-size: 32px;
}
.btn-page1 {
  color: black;
  background-color: orange;
  width: 20%;
  height: 50px;
  font-size: small;
  box-shadow: 2px 2px 2px 2px black;
  border-color: black;
}
.btn-page1:hover {
  background-color: orange;
  border-color: black;
  opacity: 50%;
}
.page1-text1 {
  font-size: 72px;
}
.page1-text2 {
  font-size: 24px;
}
.page1-text3-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page1-text3 {
  font-size: 12px;
}
.container-page2 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.main-page2 {
  margin: 0;
  padding: 0;
  height: 1051px;
  width: auto;
  background: url(/views/landingpage/img/bg\ image\ 2.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-page2-text {
  width: auto;
  padding: 250px;
}
.page2-text1 {
  font-size: 24px;
}
.page2-text2 {
  font-size: 56px;
}
.container-page3 {
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 100%;
}
.main-page3 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(/views/landingpage/img/Group.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.main-page3-text {
  display: flex;
  height: 1444px;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-page3-text {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-right: 250px;
}
.page3-text1 {
  font-size: 24px;
}
.page3-text2 {
  font-size: 56px;
}
.feature-text {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
}
.feature-text > li {
  color: orange;
  font-size: 24px;
}
.container-page4 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.main-page4 {
  margin: 0;
  padding: 0;
  height: 1051px;
  width: 100%;
  background: url(/views/landingpage/img/bg\ image\ 4.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main-page4-text {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 200px;
}
.page4-text2 {
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.printilan {
  color: orange;
}
.container-page5 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.main-page5 {
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 100%;
  background: url(/views/landingpage/img/bg\ image\ 3.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-page5-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}
.testimoni {
  border: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
}
.btn-page5 {
  color: black;
  background-color: orange;
  width: 40%;
  height: 50px;
  font-size: small;
  box-shadow: 2px 2px 2px 2px black;
  border-color: black;
}
.btn-page5:hover {
  background-color: orange;
  opacity: 50%;
  border-color: black;
}
.printilan-page5 {
  color: orange;
}
.container-page6 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.main-page6 {
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 100%;
  background: #080a0b;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-page6-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 500px;
}
.page6-text1 {
  font-size: 24px;
}
.page6-text2 {
  font-size: 80px;
}
.printilan-page6 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}
.btn-page6 {
  background-color: orange;
  width: 40%;
  height: 50px;
  font-size: small;
  box-shadow: 2px 2px 2px 2px black;
  border-color: black;
}
.btn-page6:hover {
  background-color: orange;
  opacity: 50%;
}
@media only screen and (max-width: 800px) {
  li {
    display: none;
  }
  body {
    font-size: 1rem;
  }
}
